__MACOSX/ 
.DS_Store

**/__pycache__/
ckpts/

ckpt_iter_*.pth.tar

outputs/

*.py[cod]
*$py.class

hfcp
Training/train_utils/unimatch/pretrained/gmflow-scale2-regrefine6-mixdata-train320x576-4e7b215d.pth